<div class="modal fade" id="modal_tts" tabindex="-1" role="dialog" aria-labelledby="modal_tts_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m-auto " id="modal_tts_label">Chamadas - Opções</h5>
                <!-- <button type="button" class="close justify-content-end" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
            </div>
            <div class="modal-body p-0">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item m-auto">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"
                            data-target="#modal_tts_criar">
                            Criar - TTS
                        </button>
                    </li>

                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary m-auto" data-dismiss="modal">Fechar/Cancelar</button>
            </div>
        </div>
    </div>
</div>